<h3>不改变路由</h3>
<div class="tabbox" tab>
    <ul class="tab-nav">
        <li class="tab active"><a><i class="i dashboard"></i>产品属性</a></li>
        <li class="tab"><a><i class="i dashboard"></i>SEO优化</a></li>
        <li class="tab"><a><i class="i dashboard"></i>产品图片</a></li>
    </ul>
    <div class="tab-content" style="display: block">
        <h1>产品属性</h1>
    </div>
    <div class="tab-content">
        <h1>SEO优化</h1>
    </div>
    <div class="tab-content">
        <h1>产品图片</h1>
    </div>
</div>
<hr/>
<h3>改变路由</h3>
<div class="tabbox" tab="route">
    <ul class="tab-nav">
        <li class="tab active"><a><i class="i dashboard"></i>产品属性</a></li>
        <li class="tab"><a><i class="i dashboard"></i>SEO优化</a></li>
        <li class="tab"><a><i class="i dashboard"></i>产品图片</a></li>
    </ul>
    <div class="tab-content" style="display: block">
        <h1>显示区域</h1>
    </div>
</div>